<!-- prettier-ignore -->
@{
  Layout = "_Layout";
}

@using HairSalon.Models;

@model HairSalon.Models.Stylist
<!-- prettier-ignore-end -->
<header>
  <h2>Stylist</h2>
  <h3>@Model.StylistId</h3>
</header>
<main>
  @using (Html.BeginForm())
  {
    <section>
      <label for="Name">Name</label>
      <input id="Name" name="Name" type="text" disabled="true" value="@Html.DisplayFor(model => model.Name)" />
    </section>
  }
  <p>@Html.ActionLink("Edit", "Edit", new { id = Model.StylistId })</p>
  <p>@Html.ActionLink("Delete", "Delete", new { id = Model.StylistId })</p>
  <h3>Clients</h3>
  <ul>
    @foreach (Client c in Model.Clients)
    {
      <li>
        @Html.ActionLink(@c.Name, "Details", "Clients", new { id = c.ClientId } )
      </li>
    }
  </ul>
  <p>@Html.ActionLink("Back", "Index")</p>
</main>
