@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<header>
  <h2>Client</h2>
  <h3>@Model.ClientId</h3>
</header>
<main>
  @using (Html.BeginForm())
  {
    <section>
      <label for="Name">Name</label>
      <input disabled="true" id="Name" name="Name" type="text" value="@Html.DisplayFor(model => model.Name)" />
    </section>
    <section>
      @if (Model.Stylist != null)
      {
        <p>@Html.ActionLink("Stylist", "Details", "Stylists", new { id = Model.Stylist.StylistId })</p>
      }
      @if (Model.Stylist == null)
      {
        <i>The stylist assigned to this client was deleted. Edit the client to fix this.</i>
      }
      <input disabled="true" id="Stylist" name="Stylist" type="text"
      value="@Html.DisplayFor(model => model.Stylist.Name)" />
    </section>
  }
  <p>@Html.ActionLink("Edit", "Edit", new { id = Model.ClientId })</p>
  <p>@Html.ActionLink("Delete", "Delete", new { id = Model.ClientId })</p>
  <p>@Html.ActionLink("Back", "Index")</p>
</main>
